.mainNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #588157;
}

.mainNavbar h2 {
  font-weight: bold;
  font-size: 2rem;
}

.mainNavbar h2 span {
  color: #588157;
}
.mainNavbar ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.mainNavbar > ul > li {
  color: #dc8503;
  margin: 0 20px;
  font-weight: bold;
}

.mainNavbar > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.mainNavbar > ul > li > a:hover {
  color: #588157;
}
